.footer{
    border-top: 1px solid rgb(175, 174, 174);
    padding: 60px 50px 60px;
    display: flex;
    justify-content: space-between;
}
.footer_left p{
    padding: 30px 0px;
}
.footer_left i{
    margin-right: 20px;
}
.footer_rigth{
    display: flex;
    gap: 50px;
}
.footer_rigth ul{
    list-style: none;
}
.footer_rigth b{
    color: black !important;
}
.footer_rigth li{
    padding-bottom: 15px;
}